<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a class="link-main bolder">Productos</a></li>
            </ul>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner banner-products">

            <%- include("../partials/stickymenu")%>

            <div class="main-content">
                <%- include("../partials/asideOut")%>

                <div class="products-list">
                    <!-- CASCOS -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosCascos">Cascos</a></h3>
                        <div>
                            <% for(let i = 0; i < 27; i++) { %>
                            <%if (products[i].category_id == 1) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- INDUMENTARIA -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosInd">Indumentaria</a></h3>
                        <div>
                            <% for(let i = 0; i < 3; i++) { %>
                            <%if (products[i].category_id == 2) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- CALZADO -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosCalzado">Calzado</a></h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].category_id == 3) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- EQUIPAMIENTO -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosEquipamiento">Equipamiento</a></h3>
                        <div>
                            <% for(let i = 0; i < 11; i++) { %>
                            <%if (products[i].category_id == 4) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- BOLSOS Y MOCHILAS -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosByM">Bolsos y mochilas</a></h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].category_id == 5) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- UNIFORMES -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosUniformes">Uniformes</a></h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].category_id == 7) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                    <!-- ACCESORIOS -->
                    <div class="sectionFeatured">
                        <h3><a href="products/productosAccesorios">Accesorios</a></h3>
                        <div>
                            <% for(let i = 0; i < 30; i++) { %>
                            <%if (products[i].category_id == 6) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                            <img src="/images/more.png" alt="Ver más productos" class="moreProducts">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>