<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a href="/products" class="link-main">Productos</a> /&nbsp;</li>
                <li><a class="link-main bolder">Indumentaria</a></li>
            </ul>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner banner-products">

            <%- include("../partials/stickymenu")%>

            <div class="main-content">
                <%- include("../partials/aside")%>

                <div class="products-list">
                    <!-- PANTALONES -->
                    <div class="sectionFeatured">
                        <h3><a href="/products/productosInd">Pantalones</a></h3>
                        <div>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-1.png" alt="Foto de producto">
                                <p>Indumentaria verde</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-2.png" alt="">
                                <p>Indumentaria fluo</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-3.png" alt="">
                                <p>Indumentaria gris</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-3.png" alt="">
                                <p>Indumentaria gris</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-3.png" alt="">
                                <p>Indumentaria gris</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/indumentaria-3.png" alt="">
                                <p>Indumentaria gris</p>
                            </article>
                        </div>
                    </div>
                    <!-- Camisas -->
                    <div class="sectionFeatured">
                        <h3><a href="">Camisas</a></h3>
                        <div>
                            <article class="articleProduct">
                                <img src="/images/products/calzado-1.png" alt="Foto de producto">
                                <p>Borceguies negras</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/calzado-2.png" alt="">
                                <p>Botas marrones</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/calzado-2.png" alt="">
                                <p>Botas marrones</p>
                            </article>
                        </div>
                    </div>
                    <!-- CHALECOS -->
                    <div class="sectionFeatured">
                        <h3><a href="">Chalecos</a></h3>
                        <div>
                            <article class="articleProduct">
                                <img src="/images/products/accesorios-1.png" alt="Foto de producto">
                                <p>Cinturon marron</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/accesorios-2.png" alt="">
                                <p>Guantes negros</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/accesorios-3.png" alt="">
                                <p>Chaleco militar</p>
                            </article>
                        </div>
                    </div>
                    <!-- ABRIGO -->
                    <div class="sectionFeatured">
                        <h3><a href="">Abrigo</a></h3>
                        <div>
                            <article class="articleProduct">
                                <img src="/images/products/uniforme-1.png" alt="Foto de producto">
                                <p>Uniforme negro</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/uniforme-2.png" alt="">
                                <p>Uniforme militar camuflado</p>
                            </article>
                            <article class="articleProduct">
                                <img src="/images/products/uniforme-3.png" alt="">
                                <p>Uniforme gris</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>