<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a href="/products" class="link-main">Productos</a> /&nbsp;</li>
                <li><a class="link-main bolder">Indumentaria</a></li>
            </ul>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner banner-products">

            <%- include("../partials/stickymenu")%>

            <div class="main-content">
                <%- include("../partials/aside")%>

                <div class="products-list">
                    <div class="sectionFeatured">
                        <h3>Pantalones</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 5) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Camisas</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 6) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Abrigos</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 7) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3 id="Gorros">Gorros</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 27) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>