<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%>

    <main>
        <section class="section-products">
            <ul class="breadcrumb">
                <li><a href="/" class="link-main">Inicio</a> /&nbsp;</li>
                <li><a href="/products" class="link-main">Productos</a> /&nbsp;</li>
                <li><a class="link-main bolder">Equipamiento</a></li>
            </ul>

            <img src="/images/banner-militar.png" alt="Banner de Productos" class="banner banner-products">

            <%- include("../partials/stickymenu")%>

            <div class="main-content">
                <%- include("../partials/aside")%>

                <div class="products-list">
                    <div class="sectionFeatured">
                        <h3>Chalecos</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 11) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Escudos</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 12) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Equipo antidisturbios</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 31) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Linternas</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 13) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Conjunto para lluvia</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 30) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>

                    <div class="sectionFeatured">
                        <h3>Caramañola</h3>
                        <div>
                            <% for(let i = 0; i < products.length; i++) { %>
                            <%if (products[i].productType_id == 29) { %>
                            <article class="articleProduct">
                                <a href="/products/<%= products[i].id%>">
                                    <img src="/images/products/<%= products[i].image%>.png" alt=<%= products[i].name %>>
                                    <p><%= products[i].name%></p>
                                </a>
                            </article>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../partials/footer")%>
    <script src="/js/index.js"></script>
</body>

</html>